<section class="answers">
  <div class="container">
    <figure class="answers-question">
      <p class="answers-question-description">Результат прохождения теста <img src="/images/arrow-right-gray.png" alt="Стрелочка"></p>
      <p class="answers-questions-text"></p>
    </figure>
    <h1 class="common-title answers-title"><span>Правильные ответы</span> к тесту</h1>
    <p class="answers-user">Тест выполнил <span id="user-text"></span></p>
    <div id="answers-box" class="answer-wrapper">
    </div>
    <p class="go-forward back-result-test">
      <a href="javascript:void(0)" id="back-result">Обратно к моему результату теста <img src="/images/arrow-small.png" alt="Стрелка"></a>
    </p>
  </div>
</section>