<section class="main">
  <div class="container">
    <article class="main-content">
      <h1 class="big-title">Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz</span>!</h1>
      <p class="main-description">
        Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
      </p>
      <div class="main-button">
        <a href="#/signup" class="button">Начать тест</a>
      </div>
    </article>
    <figure class="main-image">
      <img src="/images/main-image.png" alt="Главная картинка">
    </figure>
  </div>
</section>