<section class="form">
  <div class="container">
    <article class="form-content">
      <h1 class="form-title common-title">Регистрация</h1>
      <form action="" class="form-details">
        <fieldset class="form-group">
          <input type="text" class="form-input" id="name" required>
          <label for="name" class="form-label">Имя</label>
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-input" id="last-name" required>
          <label for="last-name" class="form-label">Фамилия</label>
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-input" id="email" required>
          <label for="email" class="form-label">Электронная почта</label>
        </fieldset>
        <fieldset class="form-group">
          <input type="password" class="form-input" id="password" required>
          <label for="password" class="form-label">Пароль</label>
        </fieldset>
        <fieldset class="form-agree">
          <input type="checkbox" id="agree" required>
          <label for="agree">Я ознакомлен <a href="#">с правилами сайта</a></label>
        </fieldset>
      </form>
      <div class="form-button">
        <button id="process" class="button" disabled>Перейти к выбору теста</button>
      </div>
      <p class="form-link">Уже зарегистрированы? <a href="/#/login">Войти</a></p>
    </article>
    <figure class="form-image">
      <img src="/images/info-image.png" alt="Персонаж">
    </figure>
  </div>
</section>