<section class="test">
  <div class="container">
    <p id="pre-title" class="test-pre-title">Тест №1. “JavaScript: Начальный уровень”</p>
    <div id="progress-bar" class="test-progress-bar">

    </div>
    <article class="test-question">
      <h2 id="title" class="test-question-title">
        <span>Вопрос 2:</span> Тут должен быть текст вопроса?
      </h2>
      <ul id="options" class="test-question-options">
      </ul>
    </article>
    <div class="test-actions">
      <div class="test-previous-action">
        <button id="prev" class="button button-transparent" disabled>Назад</button>
      </div>
      <div class="test-time">
        <p class="test-time-text">Осталось времени:</p>
        <p id="timer" class="test-time-clock">59</p>
      </div>
      <div class="test-next-action">
        <button id="next" class="button button-transparent" disabled>Далее</button>
      </div>
    </div>
    <p class="pass-question">
      <a href="javascript:void(0)" id="pass">Пропустить вопрос <img src="/images/arrow-small.png" alt="Стрелка"></a>
    </p>
  </div>
</section>